<form class="{{cssClass}} loot-claims-app" autocomplete="off">
    <!-- Notes for later
    https://foundryvtt.com/api/HandlebarsHelpers.html
    -->

    {{#if isGM}}
    <div class="gm-header">
        <button class="reset-loot"><i class="fas fa-trash"></i>{{localize 'loot-claims.resetLoot'}}</button>
        <!--
        <select name="data.flags.loot-claims" title="((loot table))">
        </select>
        -->
        {{#if lootTable}}
            <button class="add-loot-table" data-roll-table-uuid="{{lootTable.uuid}}"><i class="fas fa-th-list"></i>{{localize 'loot-claims.addLootTable'}}</button>
        {{else}}
            <button disabled><s><i class="fas fa-th-list"></i>{{localize 'loot-claims.addLootTable'}}</s>&nbsp;({{localize 'loot-claims.noTable'}})</button>
        {{/if}}
        <button class="give-permissions"><i class="fas fa-share-alt"></i>{{localize 'loot-claims.givePermissions'}}</button>
        <button class="distribute-loot"><i class="fas fa-coins"></i>{{localize 'loot-claims.distributeLoot'}}</button>
    </div>
    {{/if}}

    <table class="loot-claims-table items-list item-list inventory-list {{css}}">
        <tr>
            <th>{{localize 'loot-claims.item'}}</th>
            <th>{{localize 'loot-claims.need'}}</th>
            <th>{{localize 'loot-claims.greed'}}</th>
            <!-- <th>{{localize 'loot-claims.pass'}}</th> -->
        </tr>

        {{#each claims }}
            <tr class="item {{#if lootedBy}}looted{{/if}}" data-item-uuid="{{uuid}}">
                <td class="item-brief">
                    <!-- <div class="item-image" aria-label="{{name}}" style="background-image: url('{{img}}')"></div> -->
                        <img class="item-image" aria-label="{{name}}" src="{{img}}"></img>
                    <div class="item-name">
                        {{~name~}}
                        {{~#if quantity~}}&nbsp;({{~quantity~}}){{~/if~}}
                    </div>
                </td>

                <td class="player-claims" data-claim-type="need">
                    {{> claim need }}
                </td>

                <td class="player-claims" data-claim-type="greed">
                    {{> claim greed }}
                </td>

                <!--
                <td class="player-claims" data-claim-type="pass">
                    <div></div>
                </td>
                -->
            </tr>
        {{/each}}

    </table>
</form>
