<form class="{{cssClass}}" autocomplete="off">
    <!-- Notes for later
    https://foundryvtt.com/api/HandlebarsHelpers.html
    -->
    <table class="simple-loot-sheet-table items-list item-list inventory-list {{css}}">
        <tr>
            <th>{{localize 'simplelootsheet.item'}}</th>
            <th>{{localize 'simplelootsheet.need'}}</th>
            <th>{{localize 'simplelootsheet.greed'}}</th>
            <th>{{localize 'simplelootsheet.pass'}}</th>
        </tr>

        {{#each items as |item itemId|}}
        <tr class="item" data-item-id="{{item._id}}">
            <td class="item-name flexrow">
                <div class="item-image" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
                <!-- <img href="{{item.img}}" crossorigin="anonymous"/> -->
                &nbsp;
                <div>
                    {{item.name~}}
                    {{~#if item.isStack}} ({{item.data.quantity}}){{/if}}
                </div>
            </td>

            <td class="player-claims" data-claim-type="need">
                {{> claim }}
            </td>
            <td class="player-claims" data-claim-type="greed">
                {{> claim }}
            </td>
            <td class="player-claims" data-claim-type="pass">
                {{> claim }}
            </td>
        </tr>
        {{/each}}

    </table>
</form>
