<form class="{{cssClass}} loot-claims-app" autocomplete="off">
    <!-- Notes for later
    https://foundryvtt.com/api/HandlebarsHelpers.html
    -->

    {{#if isGM}}
    <div class="gm-header">
        <button class="reset-loot"><i class="fas fa-trash"></i>{{localize 'loot-claims.resetLoot'}}</button>
        <!--
        <select name="data.flags.loot-claims" title="((loot table))">
        </select>
        -->
        {{#if lootTable}}
            <button class="add-loot-table" data-roll-table-uuid="{{lootTable.uuid}}"><i class="fas fa-th-list"></i>{{localize 'loot-claims.addLootTable'}}</button>
        {{else}}
            <button disabled><s><i class="fas fa-th-list"></i>{{localize 'loot-claims.addLootTable'}}</s>&nbsp;({{localize 'loot-claims.noTable'}})</button>
        {{/if}}
        <button class="give-permissions"><i class="fas fa-share-alt"></i>{{localize 'loot-claims.givePermissions'}}</button>
        <button class="distribute-loot"><i class="fas fa-coins"></i>{{localize 'loot-claims.distributeLoot'}}</button>
    </div>

        {{#if currency}}
        <div class="currency-list">
            <a class="add-currency-items">{{localize 'loot-claims.addCurrencyItems'}} <i class="fas fa-coins"></i></a>
            {{#each currency as |quantity name|}}
            {{#if (gt quantity 0)}}
            <span data-name="{{name}}" data-quantity="{{quantity}}">{{quantity}}{{name}}</span>
            {{/if}}
            {{/each}}
        </div>
        {{/if}}
    {{/if}} <!-- /if isGM -->

    <table class="loot-claims-table items-list item-list inventory-list {{css}}">
        <tr>
            <th>{{localize 'loot-claims.item'}}</th>
            <th>{{localize 'loot-claims.need'}}</th>
            <th>{{localize 'loot-claims.greed'}}</th>
            <!-- <th>{{localize 'loot-claims.pass'}}</th> -->
        </tr>

        {{!-- {{log 'sheet render | about to each-claims. we are:'}}{{log .}} --}}
        {{#each claims }}
            {{!-- {{log .}} --}}
            <tr class="item {{#if lootedBy}}looted{{/if}} {{#if hidden}}hidden{{/if}}" data-item-uuid="{{uuid}}">
                <td class="item-brief">
                    {{#if ../isGM}}
                    <div class="item-gm-controls">
                        <span>
                            <a class="hide-item-toggle">
                                {{#if (not hidden)}}
                                    <i class="fas fa-eye" title="{{localize 'loot-claims.visibleClickToHide'}}"></i>
                                {{else if (eq hidden CONFIG.HIDDEN_REASON_GM)}} {{!-- never true? --}}
                                    <i class="fas fa-eye-low-vision"></i>
                                {{else}}
                                    <i class="far fa-eye-slash" title="{{localize 'loot-claims.hiddenClickToUnhide'}}"></i>
                                {{/if}}
                            </a>
                        </span>
                    </div>
                    {{/if}}
                    <!-- <div class="item-image" aria-label="{{name}}" style="background-image: url('{{img}}')"></div> -->
                    <span>
                        {{#if (or ../isGM (and (not hidden) (not lootedBy)))}}<a class="show-item-card">{{/if}}
                            <img class="item-image" aria-label="{{name}}" src="{{img}}"></img>
                            <div class="item-name">
                                {{~#if lootedBy~}}<s>{{~/if~}}
                                {{~name~}}
                                {{~#if quantity~}}&nbsp;({{~quantity~}}){{~/if~}}
                                {{~#if lootedBy~}}</s>{{~/if~}}
                            </div>
                        {{#if (or ../isGM (and (not hidden) (not lootedBy)))}}</a>{{/if}}
                    </span>
                </td>

                <td class="player-claims" data-claim-type="need">
                    {{> claim need }}
                </td>

                <td class="player-claims" data-claim-type="greed">
                    {{> claim greed }}
                </td>

                <!--
                <td class="player-claims" data-claim-type="pass">
                    <div></div>
                </td>
                -->
            </tr>
        {{/each}}

    </table>
</form>
