<form class="{{cssClass}}" autocomplete="off">
    <!-- Notes for later
    https://foundryvtt.com/api/HandlebarsHelpers.html
    -->

    {{#if isGM}}
    <div>
        GM
    </div>
    {{/if}}

    <table class="simple-loot-sheet-table items-list item-list inventory-list {{css}}">
        <tr>
            <th>{{localize 'simplelootsheet.item'}}</th>
            <th>{{localize 'simplelootsheet.need'}}</th>
            <th>{{localize 'simplelootsheet.greed'}}</th>
            <!-- <th>{{localize 'simplelootsheet.pass'}}</th> -->
        </tr>

        {{log 'loot-sheet.hbs .'}}
        {{log .}}

        {{#each claims }}
            {{log 'claim'}} {{log .}}
            <tr class="item" data-item-uuid="{{uuid}}">
                <td class="item-brief">
                    <!-- <div class="item-image" aria-label="{{name}}" style="background-image: url('{{img}}')"></div> -->
                    <div class="item-image">
                        <img aria-label="{{name}}" src="{{img}}"></img>
                    </div>
                    <div class="item-name">
                        {{~name~}}
                        {{~#if isStack~}}&nbsp;({{~quantity~}}){{~/if~}}
                    </div>
                </td>

                <td class="player-claims" data-claim-type="need">
                    {{> claim needs }}
                </td>

                <td class="player-claims" data-claim-type="greed">
                    {{> claim greeds }}
                </td>

                <!--
                <td class="player-claims" data-claim-type="pass">
                    <div></div>
                </td>
                -->
            </tr>
        {{/each}}

    </table>
</form>
